<ul>
  <li class="currency"><a href="#" class="dropdown-toggle"><span class="active-currency"><span class="current-currency">{{ shop.currency }}</span></span></a>
    {% assign currency = settings.supported_currencies | split: '|' %}
    <ul id="currencies">
      {% for value in currency %}
      {% assign array = value | split: ',' %}
      {% assign iso_4217 = array[0] | upcase | strip %}
      {% assign name = array[1] | strip %}
      <li data-currency="{{ iso_4217 }}" class="currency__item"><a style="cursor: pointer">{{ name }}</a></li>
      {% endfor %}
    </ul>
  </li>
</ul>