{% if settings.product_cart_type == 'ajax_popup_cart' %}
<!-- modalAddToCart -->
<div class="modal fade ajax-popup ltn__add-to-cart-modal-area" id="modalAddToCart" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog white-modal modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body">
        <div class="modal-content-text">
          <div class="popup-image">
            <img class="popupimage" src="">
          </div>
          <div class="popup-content">
            <h5 class="productmsg"></h5>
            <p class="added-cart"><i class="fa fa-check-circle"></i> {{ settings.successfull_note }}</p> 
            <div class="btn-wrapper">
              <a href="{{ routes.cart_url }}" class="theme-btn-1 btn btn-effect-1">{{ settings.view_cart_button2 }}</a>
              <a href="/checkout" class="theme-btn-2 btn btn-effect-2">{{ settings.checkout_button2 }}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- modalAddToCart -->
{% endif %}
<!-- modalAddToCart Error -->
<div class="modal fade ajax-popup error-ajax-popup" id="modalAddToCartError" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog white-modal modal-md">
    <div class="modal-content ">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body">
        <div class="modal-content-text">
          <p class="error_message"></p>
        </div>
      </div>
    </div>
  </div>
</div>