<predictive-search search-open="false">
  <form action="{{ routes.search_url }}" method="get" role="search" class="">
    <input
           id="Search"
           type="search"
           name="q"
           value="{{ search.terms | escape }}"
           {%- if settings.predictive_search_enabled -%}
           role="combobox"
           aria-expanded="false"
           aria-owns="predictive-search-results-list"
           aria-controls="predictive-search-results-list"
           aria-haspopup="listbox"
           aria-autocomplete="list"
           autocorrect="off"
           autocomplete="off"
           autocapitalize="off"
           spellcheck="false"
           {%- endif -%}
           class="predictive-search-input"
           placeholder="{{ 'general.search.placeholder' | t }}"
           >
    <button type="submit" class="btn icon-fallback-text">
      <span><i class="icon-search"></i></span>
    </button>
    <input name="options[prefix]" type="hidden" value="last">

    {%- if settings.predictive_search_enabled -%}
    <div id="predictive-search" class="predictive-search-item" tabindex="-1"></div>
    {%- endif -%}
  </form>
</predictive-search>


