<a data-height="{{ section.settings.twitterfeed_data_height }}" class="twitter-timeline" href="https://twitter.com/{{ section.settings.twitter_user_name }}">
  Tweets by {{ section.settings.twitter_user_name }}
</a> 
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>