
<div id="instagrid-feed-container">
<div id="instagrid-loading-indicator-container">
<div id="instagrid-feed-loader-wrapper">
<div class="instagrid-feed-loader">&nbsp;</div>
</div>
</div>
</div>

<script async defer src="https://instagrid.instasell.co.in/_/pd/index.js"></script>
<link rel="stylesheet" href="https://instagrid.instasell.co.in/_/pd/index.css" />

{% schema %}
{
"name": "Instagram Shopping Feed",
"settings": [],
"presets": [
{"name": "Instagram Shopping Feed", "settings": {}}
]
}
{% endschema %}
